@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
body{
    margin-top: 21%;
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body h1{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 5em;
    text-align: center;
}
h2{
    font-family: 'Merriweather', serif;
    font-size: 2em;
    color: white;
    text-align: center;
}
#flecha{
    margin-left: 48%;
    margin-bottom: 100px;
}
nav{
    padding-left: 25%;
    width: 900px;
}
ul {
    text-align: center;
    margin-top: 100px;
    padding: 15px;
    background-color: #474b50;
    height: 50px;
}
ul li {
    display: inline;
}
ul li a {
    font-family: Arial;
    font-size: 1em;
    padding: 15px;
    text-decoration: none;
    color: white;
}
ul li a:hover {
    background-color: black;
    transition: 1s;
}
div {
    background-color: white;
    width: 900px;
    margin-left: 25%;
    color: black;
    margin-bottom: 100px;
}
div h2 {
    color: black;
    font-size: 3em;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
p {
    font-size: 150%;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-style: italic;
}
#viaje{
    width: 800px;
    display: block;
    margin: auto;
}
form {
    text-align: left;
    background-color: #cad1ce;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 25px;
}
label {
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Source Code Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}
#nombre {
    width: 90%;
    height: 100%;
    background-color: #cad1ce;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
#apellido {
    width: 90%;
    height: 100%;
    background-color: #cad1ce;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
#email {
    width: 90%;
    height: 100%;
    background-color: #cad1ce;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
button {
    margin-left: 40px;
    width: 50%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #cad1ce;
}
button:hover{
    background-color: #4096a5;
}
table {
    text-align: center;
    width: 100%;
}
.imgtabla{
    width: 300px;
}
td {
    display: block;
    margin: auto;
    width: 300px;
    margin-left: 40px;
    margin-right: 40px;
}
#R {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 3em;
}
.box {
    margin-left: 40px;
}
#V {
    font-family: 'Source Code Sans', sans-serif;
    font-weight: bold;
    text-align: left;
}
h3 {
    color: black;
    font-size: 3em;
    font-family: 'Source Sans Sans', sans-serif;
    text-align: center;
}
th p {
    color: black;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
    text-align: center;
}